*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
:root{
	--sub-color:#4B4B4B;
	--main-text:#070707;
	--bg-text:#A7A7A7;
}
.container{
	max-width: 600px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin-left: 25%;
	padding: 50px;
	color:var(--main-text);
}
.container .title{
	font-size: 2.5em;
}
.container .sub-title{
	color: var(--sub-color);
}
.container span{
	color: #d22400;
}


.container-2{
	margin-top: 10%;
}
.container-2 .inner-title{
	font-weight: 700;
	font-size: 1.5em;
}
.container-2 .sub-text{
	color: var(--sub-color);
	padding-top: 15px;
}
.container-2 .form-1 .nick{
	width: 100%;
	padding: 20px;
	border-radius:30px;
	outline:none;
	border:1px solid black;
	margin-top: 20px;
	color:var(--bg-text);
	font-size: 1em;
}
.container-2 .form-2{
	margin-top: 10%;
}
.container-2 .form-2 select{
	width: 100%;
	font-size: 1em;
	padding: 20px;
	border-radius:30px;
	outline:none;
	border:1px solid black;
	margin-top: 20px;
	box-shadow: none;
	background-image: none;
	appearance: none;
	overflow: hidden;
	color: var(--bg-text);
}
.container-2 .form-2 select:hover{
	cursor: pointer;
}
.container-2 .form-2 select::after{
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
}
.arrow{
	bottom: 27%;
	left:58%;
	position: absolute;
}
.arrow:hover{
	cursor: pointer;
}
.button{
	margin-top:50px;
	background: #000;
	color: #fff;
	font-weight: bold;
	border-radius:15px;
	width: 100%;
	padding: 20px;
}